*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        opacity: .5;
        transition: .5s;
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}